{% extends "base.html" %}
{% load static %}
{% block title %}
<title>About | Make Make Ltd</title>
<meta name="description"
    content="Learn more about Make Make Construction, your reliable partner for construction services in Rwanda. Discover our commitment to high-quality, sustainable solutions for residential, commercial, and industrial projects.">
<meta name="keywords"
    content="construction services, Rwanda construction, residential construction, commercial construction, industrial construction, sustainability">

{% endblock title %}

{% block content %}

<!-- ***** Main Banner Area Start ***** -->
<div class="page-heading about-page-heading" id="top">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="inner-content">
                    <h2>About Our Company</h2>
                    <span>Make your idea Happen with us</span>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- ***** Main Banner Area End ***** -->

<!-- ***** About Area Starts ***** -->
<div class="about-us">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="left-image">
                    <img src="https://res.cloudinary.com/feyton/image/upload/c_scale,h_422,w_570/v1688541809/WhatsApp_Image_2023-05-07_at_13.19.19_rgatld.jpg"
                        alt="">
                </div>
            </div>
            <div class="col-lg-6">
                <div class="right-content">
                    <h4>About Us &amp; Our Experience</h4>
                    <span>Welcome to Make Make Construction, your reliable partner for construction services in
                        Rwanda.</span>
                    <div class="quote">
                        <i class="fa fa-quote-left"></i>
                        <p>At Make Make, we are committed to delivering high-quality construction solutions to meet the
                            needs of our clients. With years of experience in the industry, we have built a strong
                            reputation for excellence and customer satisfaction. </p>
                    </div>
                    <p>Quality, reliability, and attention to detail are the cornerstones of our work. We prioritize
                        client collaboration and ensure that every project is completed to the highest standards, on
                        time, and within budget.</p>
                    <ul>

                        <li><a href="https://www.linkedin.com/company/makemakerwanda/?viewAsMember=true"
                                target="_blank"><i class="fa fa-linkedin"></i></a></li>
                        <li><a href="https://www.youtube.com/channel/UCIe1ArKj2zRJDuy72ZUVSGA" target="_blank"><i
                                    class="fa fa-youtube"></i></a></li>

                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- ***** About Area Ends ***** -->

<!-- ***** Our Team Area Starts ***** -->
<!-- <section class="our-team">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="section-heading">
                    <h2>Our Amazing Team</h2>
                    <span>Details to details is what makes us different</span>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="team-item">
                    <div class="thumb">
                        <div class="hover-effect">
                            <div class="inner-content">
                                <ul>
                                    <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                    <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                                    <li><a href="#"><i class="fa fa-behance"></i></a></li>
                                </ul>
                            </div>
                        </div>
                        <img src="/static/images/team-member-01.jpg">
                    </div>
                    <div class="down-content">
                        <h4>Honore</h4>
                        <span>CEO and Founder</span>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="team-item">
                    <div class="thumb">
                        <div class="hover-effect">
                            <div class="inner-content">
                                <ul>
                                    <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                    <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                                    <li><a href="#"><i class="fa fa-behance"></i></a></li>
                                </ul>
                            </div>
                        </div>
                        <img src="/static/images/team-member-02.jpg">
                    </div>
                    <div class="down-content">
                        <h4>Ragnar Lodbrok</h4>
                        <span>Head of Service</span>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="team-item">
                    <div class="thumb">
                        <div class="hover-effect">
                            <div class="inner-content">
                                <ul>
                                    <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                    <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                                    <li><a href="#"><i class="fa fa-behance"></i></a></li>
                                </ul>
                            </div>
                        </div>
                        <img src="/static/images/team-member-03.jpg">
                    </div>
                    <div class="down-content">
                        <h4>Ragnar Lodbrok</h4>
                        <span>Product Caretaker</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section> -->
<!-- ***** Our Team Area Ends ***** -->

<!-- ***** Services Area Starts ***** -->
<section class="our-services">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="section-heading">
                    <h2>Our Services</h2>
                    <span>Details to details is what makes us different from the other themes.</span>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="service-item">
                    <h4>Construction</h4>
                    <p class="text-justify">From residential to commercial and industrial projects, our experienced team
                        of architects,
                        engineers is dedicated to delivering exceptional results.</p>
                    <img src="https://res.cloudinary.com/feyton/image/upload/c_crop,h_250,w_310/v1688542126/emmanuel-obeng-construction-services-Hr6slIZxvLn_yn3ciu.jpg"
                        alt="">
                </div>
            </div>
            <div class="col-lg-4">
                <div class="service-item">
                    <h4>E-service</h4>
                    <p class="text-justify">Our e-services division offers a range of digital solutions to enhance your
                        construction
                        experience. From Irembo to RRA</p>
                    <img src="https://res.cloudinary.com/feyton/image/upload/c_fill,h_250,w_310/v1688542759/irembo-e1568152547138_lf3sd4.jpg"
                        alt="">
                </div>
            </div>
            <div class="col-lg-4">
                <div class="service-item">
                    <h4>Selling Furnitue</h4>
                    <p class="text-justify ">We also offer a selection of high-quality furniture.
                        Whether you're furnishing a home, office, or other establishments, we provide a range
                        of options</p>
                    <img src="https://res.cloudinary.com/feyton/image/upload/c_fill,h_250,w_310/v1688494122/salon_z3xzjn.jpg"
                        alt="">
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ***** Services Area Ends ***** -->

<!-- ***** Subscribe Area Ends ***** -->

{% endblock content %}