{% extends "base.html" %}
{% load static %}
{% load cloudinary %}
{% block content %}
{% load humanize %}
<!-- ***** Main Banner Area Start ***** -->
<div class="main-banner" id="top">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-6">
                <div class="left-content">
                    <div class="thumb">
                        <div class="inner-content">
                            <h4 class="text-primary">We Are Make Make Ltd</h4>
                            <span>Make Your Idea Happen, Get Your Permit</span>
                            <div class="main-border-button">
                                <a href="/shop">Check Our Shop!</a>
                            </div>
                        </div>
                        <img src="https://res.cloudinary.com/feyton/image/upload/c_scale,h_680,w_790/v1688494123/table_vctylb.jpg"
                            alt="">
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="right-content">
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="right-first-image">
                                <div class="thumb">
                                    <div class="inner-content">
                                        <h4>Furniture</h4>
                                        <span>Best Furniture on the market</span>
                                    </div>
                                    <div class="hover-content">
                                        <div class="inner">
                                            <h4>Furniture</h4>
                                            <p>Buy high quality furniture that matches your style
                                            </p>
                                            <div class="main-border-button">
                                                <a href="/shop#furniture">Discover More</a>
                                            </div>
                                        </div>
                                    </div>
                                    <img
                                        src="https://res.cloudinary.com/feyton/image/upload/c_fill,h_330,w_385/v1688494123/unique_jlwn12.jpg">
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="right-first-image">
                                <div class="thumb">
                                    <div class="inner-content">
                                        <h4>E-services</h4>
                                        <span>From Irembo to RRA</span>
                                    </div>
                                    <div class="hover-content">
                                        <div class="inner">
                                            <h4>E-services</h4>
                                            <p>Get your permit today through Make Make
                                            </p>
                                            <div class="main-border-button">
                                                <a href="/services">Discover More</a>
                                            </div>
                                        </div>
                                    </div>
                                    <img
                                        src="https://res.cloudinary.com/feyton/image/upload/c_fill,h_330,w_385/v1688494122/salon_z3xzjn.jpg">
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="right-first-image">
                                <div class="thumb">
                                    <div class="inner-content">
                                        <h4>Constructions</h4>
                                        <span>Designs and Estimation</span>
                                    </div>
                                    <div class="hover-content">
                                        <div class="inner">
                                            <h4>Construction</h4>
                                            <p>Unique Designs and Cost Estimation
                                            </p>
                                            <div class="main-border-button">
                                                <a href="/shop">Discover More</a>
                                            </div>
                                        </div>
                                    </div>
                                    <img
                                        src="https://res.cloudinary.com/feyton/image/upload/c_fill,h_330,w_385/v1688494122/salon_z3xzjn.jpg">
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="right-first-image">
                                <div class="thumb">
                                    <div class="inner-content">
                                        <h4>and More..</h4>
                                        <span>We have more</span>
                                    </div>
                                    <div class="hover-content">
                                        <div class="inner">
                                            <h4>Accessories</h4>
                                            <p>Check items that add value to your home
                                            </p>
                                            <div class="main-border-button">
                                                <a href="#">Discover More</a>
                                            </div>
                                        </div>
                                    </div>
                                    <img
                                        src="https://res.cloudinary.com/feyton/image/upload/c_fill,h_330,w_385/v1688494123/unique_jlwn12.jpg">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- ***** Main Banner Area End ***** -->

<!-- ***** Men Area Starts ***** -->
<section class="section" id="men">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="section-heading">
                    <h2>Latest furnitures</h2>
                    <span>Details to details is what makes Make Make different from the other vendors.</span>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="men-item-carousel">
                    <div class="owl-men-item owl-carousel">

                        {% for product in products %}
                        <div class="item">
                            <div class="thumb">
                                <div class="hover-content">
                                    <ul>
                                        <li><a href="{{product.get_absolute_url}}"><i class="fa fa-eye"></i></a></li>
                                        <li><a href="{{product.get_absolute_url}}"><i class="fa fa-star"></i></a></li>
                                        <li><a href="{{product.get_absolute_url}}"><i
                                                    class="fa fa-shopping-cart"></i></a>
                                        </li>
                                    </ul>
                                </div>
                                {% cloudinary product.image width=370 height=390 crop="fill" %}
                            </div>
                            <div class="down-content">
                                <h4>{{product.name}}</h4>
                                <span>{{product.price | intcomma}} Rwf</span>
                                <ul class="stars">
                                    <li><i class="fa fa-star"></i></li>
                                    <li><i class="fa fa-star"></i></li>
                                    <li><i class="fa fa-star"></i></li>
                                    <li><i class="fa fa-star"></i></li>
                                    <li><i class="fa fa-star"></i></li>
                                </ul>
                            </div>
                        </div>
                        {% endfor %}



                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ***** Men Area Ends ***** -->



<!-- ***** Explore Area Starts ***** -->
<section class="section" id="explore">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="left-content">
                    <h2>Explore Our Products and services</h2>
                    <h4 class="font-weight-bold mt-1">Construction</h4>
                    <p>At Make Make Construction, we specialize in providing high-quality construction services in
                        Rwanda. We ensure attention to detail, adherence to timelines, and a seamless construction
                        process that meets your specific requirements.</p>

                    <h4 class="font-weight-bold mt-1">E-Services</h4>
                    <p>Our e-services division offers a range of digital solutions to enhance your construction
                        experience. We provide innovative technologies and software applications that streamline project
                        management, facilitate communication, and improve collaboration. </p>

                    <h4 class="font-weight-bold mt-1">Furniture Sales</h4>
                    <p>In addition to our construction services, we also offer a selection of high-quality furniture for
                        residential and commercial spaces. </p>
                    <div class="main-border-button">
                        <a href="/about#services">Discover More</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="right-content">
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="leather">
                                <h4>Furnitures</h4>
                                <span>Latest market trends, designed in house and delivered to your doorstep</span>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="first-image">
                                <img src="https://res.cloudinary.com/feyton/image/upload/c_fill,h_263,w_263/v1688494122/designs_ql80wh.jpg"
                                    alt="">
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="second-image">
                                <img src="https://res.cloudinary.com/feyton/image/upload/c_fill,h_263,w_263/v1688542126/emmanuel-obeng-construction-services-Hr6slIZxvLn_yn3ciu.jpg"
                                    alt="">
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="types">
                                <h4>And much more</h4>
                                <span>We hold your hand, all the way. From getting your permit to construction</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ***** Explore Area Ends ***** -->

<!-- ***** Social Area Starts ***** -->
<section class="section" id="social">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="section-heading">
                    <h2>Social Media</h2>
                    <span>Check our new listings from our pages #instagram.</span>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row images">

            {% for product in products %}
            <div class="col-2">
                <div class="thumb">
                    <div class="icon">
                        <a href="{{product.get_absolute_url}}">
                            <h6>{{product.name}}</h6>
                            <i class="fa fa-instagram"></i>
                        </a>
                    </div>
                    {% cloudinary product.image width=263 height=263 crop="scale" %}
                </div>
            </div>
            {% endfor %}


        </div>
    </div>
</section>
<!-- ***** Social Area Ends ***** -->

<!-- ***** Subscribe Area Starts ***** -->
<div class="subscribe">
    <div class="container">
        <div class="row">
            <div class="col-lg-8">
                <div class="section-heading">
                    <h2>By Subscribing To Our Newsletter You Can The Latest News On Time</h2>
                    <span>Share your email with us to get up to date products as we list them</span>
                </div>
                <form id="subscribe" action="" method="get">
                    <div class="row">
                        <div class="col-lg-5">
                            <fieldset>
                                <input name="name" type="text" id="name" placeholder="Your Name" required="">
                            </fieldset>
                        </div>
                        <div class="col-lg-5">
                            <fieldset>
                                <input name="email" type="text" id="email" pattern="[^ @]*@[^ @]*"
                                    placeholder="Your Email Address" required="">
                            </fieldset>
                        </div>
                        <div class="col-lg-2">
                            <fieldset>
                                <button type="submit" id="form-submit" class="main-dark-button"><i
                                        class="fa fa-paper-plane"></i></button>
                            </fieldset>
                        </div>
                    </div>
                </form>
            </div>
            <div class="col-lg-4">
                <div class="row">
                    <div class="col-6">
                        <ul>
                            <li>Store Location:<br><span>Gisozi, Kigali, Rwanda</span></li>
                            <li>Phone:<br><span>+250727730860</span></li>
                            <li>Office Location:<br><span>Gisozi, Kigali, Rwanda</span></li>
                        </ul>
                    </div>
                    <div class="col-6">
                        <ul>
                            <li>Work Hours:<br><span>09:00 - 20:00 Daily</span></li>
                            <li>Email:<br><span>makemakerwanda@gmail.com</span></li>
                            <li>Social Media:<br><span><a href="#">Facebook</a>, <a href="#">Instagram</a>, <a
                                        href="https://www.linkedin.com/company/makemakerwanda/?viewAsMember=true">Linkedin</a></span>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- ***** Subscribe Area Ends ***** -->
{% endblock content %}