{% extends "base.html" %}
{% load static %}
{% block content %}
{% load cloudinary %}
{% load humanize %}

{% block title %}
<title>Shop - Make Make Construction</title>
<meta name="description"
    content="Explore the shop of Make Make Construction and discover a range of high-quality furniture and construction-related products. Find the perfect pieces to enhance your spaces.">
<meta name="keywords"
    content="shop, furniture sales, construction products, high-quality furniture, construction materials">

{% endblock title %}



<!-- ***** Main Banner Area Start ***** -->
<div class="page-heading" id="top">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="inner-content">
                    <h2>Check Our Products</h2>
                    <span>Make Your Idea Happen</span>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- ***** Main Banner Area End ***** -->


<!-- ***** Products Area Starts ***** -->
<section class="section" id="products">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="section-heading">
                    <h2>Our Latest Products</h2>
                    <span>Check out all of our products.</span>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">

            {% for product in products %}
            <div class="col-lg-4">
                <div class="item">
                    <div class="thumb">
                        <div class="hover-content">
                            <ul>
                                <li><a href="{{product.get_absolute_url}}"><i class="fa fa-eye"></i></a></li>
                                <li><a href="{{product.get_absolute_url}}"><i class="fa fa-star"></i></a></li>
                                <li><a href="{{product.get_absolute_url}}"><i class="fa fa-shopping-cart"></i></a></li>
                            </ul>
                        </div>
                        {% cloudinary product.image width=370 height=390 crop="fill" %}
                    </div>
                    <div class="down-content">
                        <h4>{{product.name}}</h4>
                        <span>{{product.price | intcomma}} Rwf</span>
                        <ul class="stars">
                            <li><i class="fa fa-star"></i></li>
                            <li><i class="fa fa-star"></i></li>
                            <li><i class="fa fa-star"></i></li>
                            <li><i class="fa fa-star"></i></li>
                            <li><i class="fa fa-star"></i></li>
                        </ul>
                    </div>
                </div>
            </div>
            {% endfor %}

            {% if products.has_other_pages %}
            <div class="col-lg-12">
                <div class="pagination">
                    <ul>
                        {% for i in products.paginator.page_range %}

                        {% if i == products.number %}

                        <li class="active">
                            <a href="#">{{i}}</a>
                        </li>
                        {%else%}
                        <li>
                            <a href="?page={{i}}">{{i}}</a>
                        </li>
                        {% endif %}
                        {% endfor %}

                    </ul>
                </div>
            </div>
            {% endif %}




        </div>
    </div>
</section>
<!-- ***** Products Area Ends ***** -->
{% endblock content %}